/* This is a css file for Laporan.php, LaporanTable.php and LaporanAnalisis.php */
#content {
	position: relative;
	width: 100%;
	height: 100%;
	font-family: Comic Sans MS, Comic Sans, cursive;

}

table {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 15px 15px 6px rgba(106, 96, 96, 0.7);
}

#laporanTitle {
	padding: 10px;
	margin-top: 120px;
	margin-left: 50%;
	border-radius: 10px;
	width: 70%;
	text-align: center;
	transform: translate(-50%);
	background-color: rgb(255, 255, 255);
}

#tableMurid {
	margin-left: 50%;
	transform: translate(-50%);
	width: 70%;
}
#goLeft {
	padding-left: 100px;
	float: left;
}
#goMiddle {
	float:initial;
}
#goRight {
	padding-right: 100px;
	float: right;
}
th {
	font-weight: bold;
	font-size: 18px;
	color: white;
	background-color: #8301da;
}

tr:nth-child(even){
	background-color: #cc99ff;
	text-align: center;
}

tr:nth-child(odd){
	background-color: #cb97d8;
	text-align: center;
}
#susun {
	background-color: rgb(230, 33, 82);
	color: white;
	font-size: 15px;
	border-radius: 10px;
	border: none;
	height: auto;
	font-size: 15px;
	padding: 7px;
	width: auto;
	margin-left: 10px;
}

#ConcluKeputusan {
	font-size: 1.3em;
}

input[type=checkbox]{
	margin: 2px;
	padding: 0;
	width: 18px;
	height: 18px;
	border: none;
	background-color: #f85cf0;
	
}
#delete, #print, #analisis {
	border: 1px solid #070124;
	background-color: #8301da;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 16px;
	transition: .3s;
	font-weight: bold;
}
#delete{
	margin: 10px 20px 10px 0;
	float: right;
}
#print {
	margin: 10px 0 10px 20px;
	float: left;
}
#analisis {
	margin: 10px 0 10px 20px;
	float:initial;
}
#laporanTable{
	position: relative;
	left: 46%;
	bottom: 3px;
	border-radius: 10px;
	font-size: 16px;
	color: white;
	background-color: #da0166;
	padding: 5px 10px;
	border: 1px solid #dd016f;


}
#print:hover, #delete:hover, #analisis:hover {
	background-color: #8301da79;
	border: 1px solid #a306c2;
}

#tableGuru {
	margin-left: 50%;
	transform: translate(-50%);
	width: 70%;
}

select {
	width: 180px;
	text-align: center;
	height: auto;
	padding: 3px;
	padding-left: 5px;
	font-size: 15px;
	border-radius: 10px;
	background-color: rgb(240, 13, 191);
	color: white;
	margin-bottom: 5px;
}
#guruSelect {
	margin-left: 200px;
}
.jadualTitle {
    background-color: rgb(167, 21, 111);
}
#quickSearch {
    position: sticky;
    background-color: rgb(240, 37, 37);
    color: white;
    border-radius: 10px;
    border: 2px solid #ff0055;
    top: 120px;
    left: 5px;
    float: left;
    width: 13%;
    margin: 0 10px 20px auto;
    padding: 10px 0px;
    text-align: center;
    z-index: 20;
    box-shadow: 15px 15px 6px rgba(106, 96, 96, 0.7);
}
#quickSearch h2 {
    text-decoration: underline;
}
#jadualGuru, #jadualTopik, #jadualSoalan, #jadualKelas {
    position: relative;
    top: 0%;
    
} 
#jadualMurid {
    position: relative;
    top: -50%;
}
#quickSearch li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
}
