body {
	background: #ccccff;
}

#title {
	background: #cc33ff;
	/*background-image: linear-gradient(to right, #cc33ff, #8f3cc7,#cc33ff);*/
	color: White;
	font-size: 20px;
	font-family: Sans-Serif;
	border: 2px solid Black;
	border-radius: 10px 10px 0 0;
	height: 100px;
	text-align: center;
}

/* Design navigation menu */
#menu {
	background: #cc99ff;
	width: 250px;
	height: 700px;
	border: 1px solid Black;
	border-style: none solid solid solid;
	border-radius: 0 0 10px 10px;
	text-align: center;
}

/* Design navigation options */
a {
	display: flex; 
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 250px;
	margin: 0;
	font-size: 30px;
	color: #000000;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	/*background: #9900ff;*/
	background-image: linear-gradient(to bottom left, #9716ee, #d09df1);
	color: White;
}

/* Add special styling to #Import to show that user is located at laman Import*/
#Import {
	background: #9900ff;
	color: White;
}

/* Positioning the main div*/
#pilihan {
	position: absolute;
	left: 400px;
	top: 250px;
	border: 1px solid Black;
	border-radius: 25px;
	background: #ff99ff;
	width: 750px;
	height: 440px;
	text-align: center;
	font-size: 28px;
}

/* Design the title*/
#pilihanTitle {
	position: absolute;
	top: 0px;
	width: 750px;
	height: 100px;
	background: #cc33ff;
	color: #ffffff;
	font-size: 25px;
	font-family: Sans-Serif;
	border-radius: 25px 25px 0 0;
	border-bottom: 1px solid Black;
} 

/* Positioning the child div*/
#hapus {
	position: absolute;
	left: 100px;
	top: 200px;
	width: 200px;
	height:80px;
}

/* Positioning the child div*/
#import {
	position: absolute;
	right: 100px;
	top: 200px;
	width: 200px;
	height:80px;
}

/* Design the button*/
button {
	background: #ff66cc;
	transition: 0.3s;
	width: 250px;
	height: 80px;
	border: none;
	border-radius: 25px;
	font-size: 25px;
}

button:hover {
	background:red;
	color: White;
}
.copy {
	background-image: linear-gradient(to bottom right, #f85cf0, #6d035b);

}
